.log{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: url(Assets/color.webp) , no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper{
    width: 500px;
   color: #fff;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
   
}

.wrapper h1{
    margin-top: 0;
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    margin: 30px 0;
    height: 50px;
    width: 100%;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.input-box .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 16px;
   
}


.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    font-size: 14.5px;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;

}
.remember-forget label input{
    accent-color: #fff;
   margin-right: 4px;
   height: 20px;
   width: 20px;
}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}
.wrapper button{
    font-weight: 700;
    height: 45px;
    width: 100%;
    background: #fff;
    color: #581845;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
}
.wrapper button:hover{
    transition: 0.3s;
  background-color: #581845;
  color: #fff;
}
.wrapper .register-link{
    margin-top: 20px;
    text-align: center;
    font-size: 14.5px;
}
.register-link p{
    color: #fff;
}
.register-link a{
    color: #fff;
    text-decoration: none;
}

.register-link a:hover{
    text-decoration: underline;
}

.register-link  p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 0;
}

.register-link p a:hover{
    text-decoration: underline;
}